header {
	text-align: left;
	padding: 5px;
	background-color: #f2f2f2;
	width:99%;
	border-bottom: 4px dashed #ddd;
}

body {
    background-color: #fff;
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	text-align: center;
}

footer {
	background-color: #f2f2f2;
	font-family: 'Vollkorn', serif;
	font-size: 16px;
	text-align: center;
	padding: 30px 0 30px 0;
	border-top: 4px dashed #ddd;
}

h1 {
	font-size: 50px;
	text-align: center;
}

a:link, a:visited {
	color: #79a7d3;
	text-decoration: none;
}

a:hover {
	color: #3974ac;
	text-decoration: underline;
}

a.meni {
	padding-left:20px;
}

div.meni {
	text-align: center;
	font-size: 20px;
	margin-top: -40px;
	padding-bottom: 20px;
}

form{
	display: inline-block;
    text-align: left;
	margin: 10px;
	border: 2px dashed #ddd;
	padding: 10px;
}

input[type=text], input[type=date], input[type=password], input[type=file], select, textarea{
	margin-bottom: 10px;
	border: 1px solid #ddd;
	width: 200px;
	height: 20px;
}

input[type=radio] {
	margin-bottom: 10px;
	margin-left: 70px;
}
textarea {
	height: 100px;
}

input[type=submit] {
	font-family: 'Vollkorn', serif; 
	font-size: 16px;
	font-weight: bold;
    background: #ddd; 
    border: 2px dashed #ccc;
	width: 204px;
	height: 40px;
}

a.list {
	display: inline-block;
	vertical-align: top;
	color: #000;
	text-decoration: none;
	padding: 10px;
	margin: 10px;
	width: 20%;
	border: 2px dashed #ccc;
}

a.list:hover {
	background-color: #eee;
	border: 2px solid #ccc;
}


div.container {
	padding: 0 20% 0 20%;
}

div.single {
	padding: 0 30% 0 30%;
	margin: 30px 0 10px 0;
}

button {
	font-family: 'Vollkorn', serif; 
	font-size: 16px;
	font-weight: bold;
    background: #ddd; 
    border: 2px dashed #ccc;
	width: 204px;
	height: 40px;
	margin-bottom: 10px;
}

